<div>
  <h1 class="mt-10 text-4xl font-bold text-gray-900 sm:text-6xl">Under the Weather?</h1>
  <h2 class="mt-6 text-2xl text-gray-500 sm:text-3xl">Tell us where you are and we'll tell you the weather you're under</h2>
  <%= form_with path: root_path do %>
  <div class="mt-10 grid grid-cols-2 gap-x-6 gap-y-8">
    <div class="col-span-2">
      <%= label_tag :address, "Address", class: "block font-medium leading-6 text-gray-900" %>
      <div class="mt-2">
        <%= text_field_tag :address, "", placeholder: "123 Main St", class: "block rounded w-full border-1 border-gray-200 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600" %>
      </div>
    </div>
    <div>
      <%= label_tag :city, "City", class: "block font-medium leading-6 text-gray-900" %>
      <div class="mt-2">
        <%= text_field_tag :city, "", placeholder: "New York", class: "block rounded w-full border-1 border-gray-200 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600" %>
      </div>
    </div>
    <div>
      <%= label_tag :state, "State/Province", class: "block font-medium leading-6 text-gray-900" %>
      <div class="mt-2">
        <%= text_field_tag :state, "", placeholder: "New York", class: "block rounded w-full border-1 border-gray-200 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600" %>
      </div>
    </div> 
    <div>
      <%= label_tag :postal_code, "Postal Code", class: "block font-medium leading-6 text-gray-900" %>
      <div class="mt-2">
        <%= text_field_tag :postal_code, "", placeholder: "10001", class: "block rounded w-full border-1 border-gray-200 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600" %>
      </div>
    </div>
    <div>
      <%= label_tag :country, "Country", class: "block font-medium leading-6 text-gray-900" %>
      <div class="mt-2">
        <%= text_field_tag :country, "", placeholder: "United States", class: "block rounded w-full border-1 border-gray-200 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600" %>
      </div>
    </div>
    <div class="col-span-2">
      <%= submit_tag "Get my weather", class: "rounded bg-indigo-600 px-2.5 py-1.5 font-semibold text-white" %>
    </div>
  </div>
  <% end %>
</div>
